{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Шаблоны и маршрутизация в Flask</h1>
    
    <p>Изучаем шаблоны Jinja2 и маршрутизацию в Flask.</p>

    <h2>Список страниц:</h2>
    
    <ol>
        <li><a href="/lab2/example">Пример страницы с данными</a></li>
        <li><a href="/lab2/filters">Фильтры Jinja2</a></li>
        <li><a href="/lab2/flowers">Список цветов</a></li>
        <li><a href="/lab2/flowers/0">Цветок 0 (Роза)</a></li>
        <li><a href="/lab2/flowers/1">Цветок 1 (Тюльпан)</a></li>
        <li><a href="/lab2/calc/5/3">Калькулятор 5+3</a></li>
        <li><a href="/lab2/books">Каталог книг</a></li>
        <li><a href="/lab2/berries">Каталог ягод</a></li>
    </ol>

    <h2>Другие ссылки:</h2>
    
    <ul>
        <li><a href="/lab2/calc/">Калькулятор по умолчанию</a></li>
        <li><a href="/lab2/calc/10">Калькулятор с числом 10</a></li>
        <li><a href="/lab2/a">Тест без слеша</a></li>
        <li><a href="/lab2/a/">Тест со слешем</a></li>
        <li><a href="/">На главную</a></li>
    </ul>

{% endblock %}