{% extends "base.html" %}

{% block lab %}Лабораторная работа 7{% endblock %}

{% block main %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        button {
            margin: 2px;
            padding: 5px 10px;
        }
    </style>
    <h1>Лабораторная работа 7</h1>
    <nav>
        <a href="/">Главная</a> |
        <a href="/lab7/">Лаб 7</a>
    </nav>

    <h1>Список фильмов</h1>
    
    <table>
        <thead>
            <tr>
                <th>Название (англ.)</th>
                <th>Название (рус.)</th>
                <th>Год</th>
                <th>Описание</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody id="film-list">
            <!-- Сюда будут добавляться фильмы через JS -->
        </tbody>
    </table>
    
    <div style="margin-top: 20px;">
        <button onclick="addFilm()">Добавить фильм</button>
    </div>
    
    <script src="{{ url_for('static', filename='lab7/main.js') }}"></script>
{% endblock %}